<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trainer_v4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Trainer_v4.Properties.Settings>
            <setting name="DEV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>4.8.5</value>
            </setting>
            <setting name="DiscordUrl" serializeAs="String">
                <value>https://discord.com/invite/J584aG</value>
            </setting>
        </Trainer_v4.Properties.Settings>
    </applicationSettings>
</configuration>